<!DOCTYPE html>
{% extends 'web/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/login.css' %}">
    {% endblock css %}

    <div class="login-form">
        <form  method="POST">
            {% csrf_token %}
            <div class="avatar bg-warning">
                <img src="{% static 'app/img/user.png'  %}" alt="Avatar">
            </div>
            <h2 class="text-center">Iniciar Sesión</h2>   
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username" required="required">
            </div>
            <br> 
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" required="required">
            </div>
            <br>        
            <div class="form-group">
                <button type="submit" class="btn btn-warning btn-lg btn-block">Entrar</button>
            </div>
            <div class="bottom-action clearfix">
                <label class="float-left form-check-label"><input type="checkbox"> Recordarme</label>
                <a href="{% url 'register' %}" class="float-right">Olvidaste tu contraseña?</a>
            </div>
        </form>
        <p class="text-center small">No tienes cuenta? <a href="{% url 'register' %}">Registrate ahora!</a></p>
    </div>

{% endblock contenido %} 