{% load static %}
<div class=" container collapse" id="navbarToggleExternalContent">
  <div class="alert alert-primary" role="alert">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="row" colspan="3" class="text-center">Carrito de Compras</th>
                </tr>
                
                <tr>
                    <th scope="col">Tipo</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                </tr>
                
            </thead>
            <tbody>
                {% if request.session.carrito.items %}
                    {% for key, value in request.session.carrito.items %}
                        <tr>
                        <td>{{value.Producto}}</td>
                        <td>{{value.precio}}</td>
                        <td>{{value.acumulado}}
                            <a href="{% url 'addpr' value.prid %}" class="badge btn btn-dark badge-dark">+</a>
                            <a href="{% url 'subpr' value.prid %}" class="badge btn btn-dark badge-dark">-</a>
                        </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">
                            <div class="alert alert-danger text-center"> Sin Productos </div>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <th scope="row">Total:</th>
                    <td colspan="2">$ {{total_carrito}}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div class="row text-center ">
            <div class="col-6"><a href="{% url 'clspr' %}" class="btn btn-danger">Limpiar</a></div>
            <div class="col-6"><a href="#" class="btn btn-success">Guardar</a></div>
        </div>
    </div>
    

</div>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler TEXT-CENTER bg-success" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <a class="navbar-brand" href="">
            <img src="{% static 'app/img/carros.png'%}" alt="logo iart" width="40" height="40" class="d-inline-block align-text">
            Carrito de compras
            </a>
        </button>
    </div>
</nav>
