.todo{
    text-align: center;
}

.todo .formulario .form{
    color: black;
    
    
}

.todo .formulario .form2{
    color: black;
    
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin-top: 70px;
    
}

 
.todo .formulario .input{
    border-radius: 5px;
    border-color: rgb(184, 179, 179);
    margin-bottom: 10px;
    color: black;
    width: 300px;
    height: 38px;
    margin-top: 20px;
    
    
}

.todo .formulario .input2{
    border-radius: 5px;
    border-color: rgb(184, 179, 179);
    margin-top: 20px;
    color: black;
    width: 300px;
    height: 38px;
}

.todo .formulario .input3{
    border-radius: 5px;
    border-color: rgb(184, 179, 179);
    margin-bottom: 10px;
    color: black;
    width: 300px;
    height: 38px;
    margin-left: 6px;
    margin-top: 20px;
    
    
}
 .todo .formulario .boton{
    padding: 10px 40px ;
    border: 2px solid rgb(36, 35, 35);
   background-color: rgb(143, 118, 118);
    font-size: 10px;
    font-weight: 600px;
    cursor: pointer;
    color: white;
   margin-left: 0px;
    outline: none;
    border-radius: 10px;
    margin-top: 10px;
}

.todo .formulario .boton:hover{
    background: #f12020;
    transition: all 500ms ease ;
}

.todo  .img1{
    position:absolute;
    left:20px;
    top:65px;
    padding-top: 50px;
   
  
}

.todo  .img2{
   position: absolute;
    left:900px;
    top:65px;
    padding-top: 50px;
   
  
   
  
}