*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background-image: url("../img/fon.jpg");
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}
.botones{
    text-align: center;
}
.botones .btn{
    position: absolute;
    left:350px;
    top:65px;
    width: 90px;
    height: 50px;
    margin-top: 100px;
    background-color: black;
    color: white;
border-radius: 10px;
border:none;
    
}
.botones .btn2{
    position: absolute;
    left:500px;
    top:65px;
    width: 90px;
    height: 50px;
    margin-top: 100px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border:none;
}
.botones .btn3{
    position: absolute;
    left:650px;
    top:65px;
    width: 90px;
    height: 50px;
    margin-top: 100px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border:none;
}
.botones .btn4{
    position: absolute;
    left:800px;
    top:65px;
    width: 90px;
    height: 50px;
    margin-top: 100px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border:none;
}

.botones .btn:hover{
    transition: all 500ms ease;
    background: cornflowerblue;
    cursor: pointer;
}
.botones .btn2:hover{
    transition: all 500ms ease;
    background: cornflowerblue;
    cursor: pointer;
}
.botones .btn3:hover{
    transition: all 500ms ease;
    background: cornflowerblue;
    cursor: pointer;
}
.botones .btn4:hover{
    transition: all 500ms ease;
    background: cornflowerblue;
    cursor: pointer;
}

.botones .tabla{
   
   
    margin-left: 350px;
    margin-top: 150px;
    width: 41%;
    border:none;
    background-color:white;
  

}
.botones .titulo{
    margin-right: 70px;
    margin-top: 70px;
    
}

.botones .buscar{
    position: absolute;
    margin-top: 130px;
   margin-left: 58px;
    
}
.botones .mover{
    position: absolute;
    margin-top: 130px;
    margin-left: 10px;
}

