{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        {% block css %}
            
        {% endblock css %}
        <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
        <meta charset="UTF-8">
        <link rel="icon" type="text/css" href="{% static 'app/img/IART_LOGO_WEB.png' %}">
    </head>

    <body>
    
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="logo">
                    <a href="{% url 'index' %}" >  <img src="{% static 'app/img/IART_LOGO_WEB.png'  %}" alt="Home" width="50px" height="50px"></a>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#"> galaeria of work </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#"> purchase stock </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#"> manufacture </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'contact' %}"> Contact </a>
                        </li>
                        
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'profile' %}"> Mi Cuenta: @{{ user.username }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'logout' %}">Salir</a>
                            </li>
                            {%if user.username == 'brandworkout' or user.username == 'imagineart'%}
                                <li class="nav-item">
                                    <a class="nav-link active bg-warning" href="{% url 'iart_admin' %}"> Admin </a>
                                </li>
                            {%endif%}
                        {%else%}
                            <li class="nav-item">
                                <a class="nav-link active " href="{% url 'register' %}"> Register </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active " href="{% url 'login' %}"> login </a>
                            </li>
                        {% endif %}
                        
                    </ul>
                    <form class="d-flex">
                        
                        <input class="form-control me-2" type="search" placeholder="Search Image" aria-label="Search">
                        <button class="btn btn-outline-warning" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <!--NAVBAR-->

        <!--Contenido-->

        {% block contenido %}

        {% endblock contenido %}

       
            <!-- Footer -->
        <footer class="bg-dark text-center text-white">
            <!-- Grid container -->
            <div class="container p-4">
                <!-- Section: Social media -->
                <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                    ><i class="fab fa-facebook-f"></i
                ></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                    ><i class="fab fa-twitter"></i
                ></a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                    ><i class="fab fa-google"></i
                ></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                    ><i class="fab fa-instagram"></i
                ></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                    ><i class="fab fa-linkedin-in"></i
                ></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                    ><i class="fab fa-github"></i
                ></a>
                </section>
                <!-- Section: Social media -->
                <li class="nav-item">
                            <a class="nav-link active" href="{% url 'equipo' %}"> Equipo iArt </a>
                        </li>
                <!-- Section: Text -->
                <section class="mb-4">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
                    repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
                    eum harum corrupti dicta, aliquam sequi voluptate quas.
                </p>
                </section>
                <!-- Section: Text -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2020 Copyright:
                <a class="text-white" href="#">imagineArt - Corporation</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
        <!--No se pone nada abajo de esto-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </body>
</html>
