<!DOCTYPE html>
{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}
  
    {% block css %}
        <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    {% endblock css %}
    <!-- CARROUSEL-->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'app/img/Imagine Art.jpg' %}" class="d-block w-100" alt="atronauta">
                <!--<div class="carousel-caption">
                    <h3>Amazing Digital Experience</h3>							
                    <p>Nullam hendrerit justo non leo aliquet imperdiet. Etiam sagittis lectus condime dapibus.</p>
                    <div class="carousel-action">
                        <a href="#" class="btn btn-primary">Learn More</a>
                        <a href="#" class="btn btn-success">Try Now</a>
                    </div>
                </div>-->
            </div>
            <div class="carousel-item">
                <img src="{% static 'app/img/Imagine Art2.jpg' %}" class="d-block w-100" alt="leon">
            </div>
            <div class="carousel-item">
                <img src="{% static 'app/img/Imagine_Art3.png' %}" class="d-block w-100" alt="itachi">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- EXTRAS -->
    <br>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="title-header text-center">
                    <h4>Fabricados</h4>
                </div>
            </div>
        </div>
	</div>
    <br>
    {%load humanize%}
    <div class="card-deck center">
        {% for p in entity %}
            {% if p.img %}
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <img src="{{p.img.url}}" class="card-img-top" alt="{{p.description}}">
                    <div class="card-header ">
                        {{p.description}}
                    </div>
                    <div class="card-body">
                        Tamaño : {{p.ancho}}cm x {{p.largo}}cm
                        <h5 class="card-title ">{{p.type.nomType}} - ${{p.price | intcomma}}</h5>
                    </div>
                    <div class="card-body text-center">
                        <a href="{% url 'addpr' p.id %}" class="btn btn-warning">Agregar al carrito</a>
                    </div>
                </div>
            {% endif%}
        {% endfor %}
    </div>
{% endblock contenido %} 
        
        
