<!DOCTYPE html>
{% extends 'web/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/login.css' %}">
    {% endblock css %}

    <div class="login-form" enctype="multipart/form-data">
        <form  method="POST" enctype="multipart/form-data">
            {% csrf_token %} 
            <div class="avatar bg-warning">
                <img src="{% static 'app/img/pintar.png'  %}" alt="Avatar">
            </div>
            <h2 class="text-center">Fabrica tu Cuadro!</h2>
            <div class="form-group">
                <b>*Tipo Producto:</b>
                {{entity.type}}
            </div>
            <br> 
            <div class="form-group text-center">
                <b class="bg-dark">- contacto -</b>
            </div>  
            <div class="form-group">
                <b>*Tu Nombre:</b>
                {{entity.Nombre}}
            </div>
            <br> 
            <div class="form-group">
                <b>*Nro Contacto:</b>
                {{entity.nro_contacto}}
            </div>
            <br> 
            <div class="form-group">
                <b>@Instagram:</b>
                {{entity.instagram}}
            </div>
            <br>
            <div class="form-group text-center">
                <b class="bg-dark">- imagen -</b>
            </div>
            <div class="form-group">
                <b class="text-center bg-warning">*Puedes agregar el link de la imagen o subirla</b>
                <b>link de imagen:</b>
                {{entity.imagen_link}}
            
                <b>Subir imagen:</b>
                {{entity.img}}
            </div>
            <br> 
            <div class="form-group">
                <b>*Tamaño (cm):</b>
                {{entity.size}}
            </div>
            <hr>
            <h2 class="text-center">Dirección de Envío</h2> 
            <div class="form-group">
                <b>*Comuna:</b>
                {{entity.fkComuna}}
            </div>
            <br> 
            <div class="form-group">
                <b>*Calle:</b>
                {{entity.calle}}
            </div> 
            <br> 
            <div class="form-group">
                <b>*#Numero:</b>
                {{entity.numero}}
            </div>
            <br> 
            <div class="form-group">
                <b>Comentario:</b>
                {{entity.comentario}}
            </div>
            <hr>
            <div class="text-center">
                <button type="submit" class="btn btn-warning btn-lg btn-block">Confirmar Pedido</button>
            </div>
            <!--<div class="bottom-action clearfix">
                <label class="float-left form-check-label"><input type="checkbox"> Remember me</label>
                <a href="#" class="float-right">Forgot Password?</a>
            </div>-->
        </form>
    </div>

{% endblock contenido %} 