{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'app/css/crud.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% endblock css %}

    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8"><h2>Bandeja de Pedidos </h2><b>Details</b></div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre Usuario</th>
                            <th>nro_contacto</th>
                            <th>Type</th>
                            <th>Imagen</th>
                            <th>Direccion</th>
                            <th>comentario</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in entity %}
                            <tr>
                                <td>{{p.id | title}}</td>
                                <td>{{p.Nombre | title}}, {{p.instagram | title}}</td>
                                <td>{{p.nro_contacto | title}}</td>
                                <td>{{p.type | title}}, ({{p.size}}), PRECIO: {{p.size.price}}</td>
                                <td>{{p.imagen_link | title}}, {{p.img }}</td>
                                <td>{{p.fkComuna | title}}, {{p.calle | title}}, {{p.numero | title}}</td>
                                <td>{{p.comentario | title}}</td>
                                <td>
                                    <a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                                    <a href="{% url 'editOrder' p.id%}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                    <a href="{% url 'deleteOrder' p.id%}" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                </td>
                            </tr>
                        {% endfor %}   
                    </tbody>
                </table>
            </div>
        </div>  
    </div>   


{% endblock contenido %}

